.blog {
  h2 {
    font-family: $noe;
    @include size(22px);

    @include mq('tablet') {
      @include size(30px);
    }

    @include mq('desktop') {
      @include size(30px);
    }
    
    a {
      color: $green;
      text-decoration: none;

    }
  }

  .blog-articles {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;

    @include mq('tablet') {
      flex-direction: row;
    }

    .blog-item {
      width: calc(50% - 5px);
      display: flex;
      justify-content: space-between;
      padding: 20px;
      @include transition(all .2s ease-in-out);
      position: relative;

      &:hover {
        transform: translateY(-.39375rem);
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05), 0 2px 4px -1px rgba(0, 0, 0, 0.01);
      }

      .item-left {
        width: calc(50% - 20px);

        h2 {
          margin: 0;
        }
      }

      .item-right {
        width: calc(50% - 20px);

        img {
          max-width: 100%;
          border-radius: 10px;
          box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05), 0 2px 4px -1px rgba(0, 0, 0, 0.01);
        }
      }
    }
  }
}