.intro {
  height: calc(80vh - 81px);

  >.container {
    height: calc(100% - 81px);
    display: flex;
    align-items: center;
  }

  h1 {
    @include mq('desktop') {
      @include size(60px);
      margin: 0;
    }

    &::before {
      display: none;
    }
  }
}